div.menus-table{
    margin-top: 5px;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 0;
}

.form-buttons{
    display: inline-block;
}

button.btn.btn-default.fileinput-upload.fileinput-upload-button {
    display: none;
}

#image-preview{
    margin-top: 20px;
    width: 20%;
    height: auto;
}
#image-preview-edit{
    margin-top: 20px;
    width: 20%;
    height: auto;
}
.td-classic{
    text-align: center;
    vertical-align: middle !important;
}